
   body{
     background:url('images/a.jpg');
     position: absolute;
     top: 0;
     bottom: 0;
     right:0;
     left: 0;
     overflow-x: hidden;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;


     }


.center-block{
	float: none;
}
.heading1{
	text-align: center;
	font-size: 40px;
	padding-top: 70px;
}
.text1{
	text-align: center;
	font-size: 20px;
	margin: justify;
	padding: 50px;
}
.body1{
	background-color: white;
}

button {
  background: none;
  border: 0;
  box-sizing: border-box;

  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 1em;
  padding: 1em 2em;
  text-align: center;
  text-transform: capitalize;

  position: relative;
  vertical-align: middle;
}
button::before, button::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.spin {
  width: 7.5em;
  height: 7.5em;
  padding: 0;
}
.spin:hover {
  color: white;
}
.spin::before, .spin::after {
  top: 0;
  left: 0;
}
.spin::before {
  border: 0 solid transparent;
}
.spin:hover::before {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;

  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}
.spin::after {

}
.spin:hover::after {
  border: 5px solid white;
  border-left-width: 5px;
  border-right-width: 5px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}
.circle::before, .circle::after {
  border-radius: 100%;
}

.navs{




    font-size: 20px;
   }
   .footer3{


   }
   .navs2{
    font-size: 15px;

   }


   .footerend1{
    background-color: saddlebrown;
    height: auto;


   }
   .button4{
    background-color: blue;
    color: white;

   }

   .form2{
    }

   .news{
   	background: url('images/how it works.jpg');
   	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    height: auto;
    bottom: 0;
     right:0;
     left: 0;
     overflow-x: hidden;
     background-size: cover;
     opacity: 0.8;
   }
   .fort{
   	background: url('images/fort1.jpg');
   	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
     right:0;
     left: 0;
     overflow-x: hidden;
     background-size: cover;
   }
   .image:hover{
   	border: 5px solid black;
   }
